PORT=Port number
DATABASE_URL=postgresql://username:password@host:port/database_name

# Email Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
GMAIL_APP_EMAIL=your-email@gmail.com
GMAIL_APP_PASSWORD=your-app-specific-password